<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Einkaufsliste</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-around alig">
        <div class="card align-self-center">
            <h1 class="m-3">Einkaufsliste - App</h1>
        </div>
        <div class="card m-3">
            <form action="{% url 'einkaufsliste:new_liste' %}" method="post">
            <div class="form-group m-3">
            {% csrf_token %}
            
                <label for="name">Name von Liste:</label><br>
                <input type="text" class="form-control" id="name" name="name">
            
            
                <button type="submit" class="btn btn-primary mt-3" value="change_item">Neue Liste anlegen</button>
            
            </div>
            </form>
        </div>
    </div>
</div> 
<div class="container mb-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'einkaufsliste:index' %}">Alle Listen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'einkaufsliste:index2' %}">Einträge nach Kategorien</a>
        </li>
      </ul>
</div>  

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Eintrag</th>
            <th scope="col">Menge</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Status</th>
            <th scope="col">Item ändern</th>
          </tr>
        </thead>
        <tbody>
          <tr> 
        {% for eintrag in eintraege %}
            <th scope="row">{{eintrag.name}}</th>
            <td>{{eintrag.menge}}</td>
            <td>{{eintrag.category}}</td>
            <td>
                {% if eintrag.status == True %}
                <div class="spinner-grow text-success" role="status">
                </div>
                {% else %}
                <div class="spinner-grow text-danger" role="status">
                </div>
                {% endif %}
            </td>
            <td><a class="btn btn-primary ml-3" href="{% url 'einkaufsliste:change_item' eintrag.id %}" role="button">ändern</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    
       
    
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>