
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3>Neuer Eintrag für "{{liste.name}}"</h3>
            <form action="{% url 'einkaufsliste:speichern_item' liste.id%}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <label for="name">Name von Eintrag:</label><br>
                    <input type="text" class="form-control" id="name" name="name"><br>
                </div>
                <div class="form-group">
                    <label for="menge">Menge:</label><br>
                    <input type="text" class="form-control" id="menge" name="menge"><br> 
                </div> 
                <div class="form-group">
                    <label for="category">Kategorie:</label><br>
                    <input type="text" class="form-control" id="category" name="category"><br> 
                </div>

                <div class="form-group">      
                    <label for="status">Status</label>
                    <input type="checkbox" name="status" id="status" value="True"><br>

                </div> 
                <button type="submit" class="btn btn-primary" value="new_item">Anlegen</button>
                <a class="btn btn-secondary" href="{% url 'einkaufsliste:index' %}" role="button">Zurück</a>
            </form>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>